<!DOCTYPE>
<html>
<head>
<title>Resident Account</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<frameset rows="90,*" framespacing="0" border="0">
  <frame src="<?php echo site_url('user/MainController/top');?>" id="header-frame" name="header-frame" frameborder="no" scrolling="no">
  
  <frameset cols="314, *" framespacing="0" border="0" id="frame-body">
    
    <frame src="<?php echo site_url('user/MainController/menu');?>" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes">
    
    <frame src="<?php echo site_url('user/AnnouncementController/announcement');?>" id="main-frame" name="main-frame" frameborder="no" scrolling="yes">
  </frameset>
</frameset>
</head>

</html>