<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
	<section id="main" class="column main_shadow" >
        


        <article class="module width_3_quarter">
            
            <header><h3 class="tabs_involved">Maintainance request</h3>
            <ul class="tabs">
                <li class="active"><a href="<?php echo site_url('user/MaintainanceController/viewmaintainance');?>">Return</a></li>
            </ul>
            </header>
            

            <div class="tab_container">
                <div id="tab1" class="tab_content">
                <form method = "post" action="<?php echo site_url('user/MaintainanceController/validation');?>" name='1'>
                    <div class="module_content w500">
                
                <!--<fieldset>
                    <label>Priority*</label>
                                            <select name="priority" class="form-control">
                                                <option value=""></option>
                                                <option value="high">High</option>
                                                
                                                <option value="Routine">Routine</option>
                                                
                                            </select>
                </fieldset>
                
                <fieldset>
                    <label>Category*</label>
                                            <select class="form-control">
                                            <option></option>
                                                <option>Electrical</option>
                                                <option>HVAC</option>
                                                <option>Locks</option>
                                                <option>Make Ready</option>
                                                <option>Other</option>
                                                <option>Plumbing</option>
                                                
                                            </select>
                </fieldset>
                
                <fieldset>
                    <label>Sub Category</label>
                                            <select class="form-control">
                                            <option></option>
                                                <option>One Vale</option>
                                                <option>Two Vale</option>
                                                <option>Three Vale</option>
                                                <option>Four Vale</option>
                                            </select>
                </fieldset>-->
                
                <fieldset>
                    <label>Location</label>
                                            <select name="location" class="form-control">
                                            <option value=""></option>
                                                <option value="Kitchen">Kitchen</option>
                                                <option value="M_bathroom">Master Bathroom</option>
                                                <option value="H_bathroom">Hall Bathroom</option>
                                                <option value="frontdoor">Front Door</option>
                                                <option value="buildingdoor">Building Entry Door</option>
                                                <option value="secondbedroom">Second Bedroom</option>
                                                <option value="Laundry">Laundry Room</option>
                                                <option value="other">Other</option>
                                            </select>
                </fieldset>
               
               <!--<fieldset>
                    <label>Permission to Enter*</label>
                                            <p class="radio">
                                                <label>
                                                    <input type="radio" name="Permission" id="optionsRadios1" value="yes" >Yes
                                                </label>
                                            </p>
                                            
                                            <p class="radio">
                                                <label>
                                                    <input type="radio" name="Permission" id="optionsRadios2" value="no">No
                                                </label>
                                            </p>
                </fieldset>-->

                <fieldset>
                    
                                            <!--<label>Full Description*</label>
                                            <input type="text"   name="description"  class="form-control" rows="3">-->
                                            <label>Description:</label><textarea type="text" name="description" rows="3"></textarea>
                </fieldset>


                <div class="tc mt20">
                    <input type="submit" class="button green" id="btnAdd">
                </div>
            
            </div>
                    </form>

                
           </div></div>
<div style="<?php echo $display; ?>"><h4 class="alert_info"><?php echo $message; ?></h4></div>
        </article><!-- end of content manager article -->
    </section>
</body>
</html>
