<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/manager/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/manager/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/manager/scripts/config.js'); ?>" type="text/javascript"></script>
    
</head>
<body>
	<section id="main" class="column main_shadow">
        <article class="module width_full">
        <form method = "post" action="<?php echo site_url('manager/RoomController/remainappartment/');?>" name='appartment'>
            <header><h3 class="tabs_involved">room available</h3>
            <ul class="tabs">
                <select onchange="appartment.submit();" name="sortby">
                    <option value="room_num">-----sort by-----</option>
                    <option value="room_num">room number</option>
                    <option value="date">available after</option>
                    <option value="bed_room">bed room</option>
                </select>
            </ul>
            <ul class="tabs">
                available after: 
                <input type="date" value="<?php echo $date; ?>" name="date" onchange="appartment.submit();"/>        
            </ul>
            </header>
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0"> 
                    <thead> 
                        <tr>  
                            <th>room number</th> 
                            <th>available after</th>
                            <th>bed room type</th> 
                        </tr> 
                    </thead> 
                    <tbody> 
                    <?php foreach($info as $row):?>
                        <?php if($date > $row['date']):?>
                            <tr> 
                                <td><?php echo $row['room_num']?></td>
                                <td><?php echo $row['date']?></td>
                                <td><?php echo $row['bed_room']?></td> 
                            </tr> 
                        <?php endif; ?>
                    <?php endforeach; ?>
                    </tbody> 
                    </table>
                    <?php if (strlen($pagination)): ?>
                    <div>
                        Pages: <?php echo $pagination; ?>
                    </div>
                <?php endif; ?>
                </div><!-- end of #tab1 -->
            </div><!-- end of .tab_container -->
            </form>
        </article><!-- end of content manager article -->
    </section>
</body>
</html>