<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/manager/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/manager/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/manager/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
    <section id="main" class="column main_shadow">
        <article class="module width_full">
            <header><h3 class="tabs_involved">mantainance request</h3></header>
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                    <table class="tablesorter" cellspacing="0" > 
                    <thead> 
                        <tr>  
                            <th>status</th>
                            <th>request_time</th>
                            <th>username</th>
                            <th>room_num</th> 
                            <th>location</th> 
                            <th>description</th>
                        </tr> 
                    </thead> 
                    <tbody> 
                    <?php foreach($info as $row):?>
                        <?php if($row['status'] != 'requested'):?>
                            <tr> 
                                <td ><?php echo $row['status']?></td>
                                <td><?php echo $row['request_time']?></td>
                                <td><?php echo $row['username']?></td>
                                <td><?php echo $row['room_num']?></td>
                                <td><?php echo $row['location']?></td>
                                <td><?php echo $row['description']?></td>
                            </tr> 
                        <?php endif; ?>
                        <?php if($row['status'] == 'requested'):?>
                            <tr> 
                                <td><a href="<?php echo site_url('manager/MaintainanceController/update/') . $row['username'] . '/' . $row['room_num'];?>">[requested]</a></td>
                                <td><?php echo $row['request_time']?></td>
                                <td><?php echo $row['username']?></td>
                                <td><?php echo $row['room_num']?></td>
                                <td><?php echo $row['location']?></td>
                                <td><?php echo $row['description']?></td>
                            </tr> 
                        <?php endif; ?>
                    <?php endforeach; ?>
                    </tbody> 
                    </table>
                    <?php if (strlen($pagination)): ?>
                    <div>
                        Pages: <?php echo $pagination; ?>
                    </div>
                <?php endif; ?>
                </div><!-- end of #tab1 -->
            </div><!-- end of .tab_container -->
            </form>
        </article><!-- end of content manager article -->
    </section>
</body>
</html>
