<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="Refresh" content = "<?php echo $wait;?> ; url = <?php echo $url;?>"/>
	<title>Package Self-pickup</title>
	<link rel="stylesheet" href="<?php echo base_url('application/views/manager/styles/style.css'); ?>" type="text/css"/>
	<script src="<?php echo base_url('application/views/manager/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
	<script src="<?php echo base_url('application/views/manager/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
	<header id="header">
		<hgroup>
			<h1 class="site_title">KentNeighboorhood</h1>
		</hgroup>
	</header> <!-- end of header bar -->
	<div class="w500 mc ovh">
		<section id="main" >
			<article class="module width_full">
				<h4 class="alert_success"><?php echo $message; ?></h4>
				<br>
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				go back after 5 sec.
			</article>
		</section>
	</div>
	<script src="<?php echo base_url('application/views/manager/scripts/libs/require/require.js'); ?>" type="text/javascript" data-main="scripts/app/index/main"></script>
</body>
</html>

