<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/manager/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/manager/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/manager/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
	<section id="main" class="column main_shadow" >
        <article class="module width_full">
            <header><h3 class="tabs_involved">Register</h3>
            </header>
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                <form method = "post" action="<?php echo site_url('manager/IndexController/validation');?>" name='register'>
                    <fieldset>
                    <table class="tablesorter" cellspacing="0"> 
                    <tbody> 
                        <tr> 
                            <td><label for="">username:    </label><input type="text" name="username"/></td>
                            <td><label for="">password:    </label><input type="text" name="password"/></td> 
                        </tr> 
                        <tr> 
                            <td><label for="">firstname:   </label><input type="text" name="firstname"/></td>
                            <td><label for="">lastname:   </label><input type="text" name="last_name"/></td> 
                        </tr> 
                        <tr> 
                            <td><label for="">email:       </label><input type="text" name="email"/></td>
                            <td><label for="">phone number:   </label><input type="text" name="phone_num"/></td> 
                        </tr> 
                        <tr> 
                            <td><label for="">room number:    </label><input type="text" name="room_num"/></td>
                            <td><label for="">lease start: </label><input type="date" value=date('Y-m-d') name="lease_start"/></td> 
                        </tr> 
                        <tr> 
                            <td><label for="">lease end:   </label><input type="date" value=date('Y-m-d') name="lease_end"/></td>
                        </tr> 
                        <tr>
                            <td></td>
                            <td><input type="submit" value="register" class="button darkgray" /></td>
                            <td></td>
                        </tr>
                    </tbody> 
                    </table>
                    </fieldset>
                    </form>
                </div><!-- end of #tab1 -->
            </div><!-- end of .tab_container -->
            <div style="<?php echo $display; ?>"><h4 class="alert_error"><?php echo $message; ?></h4></div>
        </article><!-- end of content manager article -->
    </section>
</body>
</html>
