<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
	<section id="main" class="column main_shadow" >
        


        <article class="module width_3_quarter">
            
            <header><h3 class="tabs_involved">Maintainance</h3>
            <ul class="tabs">
                <li class="active"><a href="<?php echo site_url('user/MaintainanceController/addmaintainance');?>">Maintainnance Request</a></li>
            </ul>
            </header>
            
<div class="tab_container">
                <div id="tab1" class="tab_content">
                <table class="tablesorter" cellspacing="0"> 
                    <thead> 
                        <tr>  
                            <th>Location</th> 
                            <th>Description</th>
                            <th>Request time</th>
                            <th>Status</th>
                            <th>Username</th>
                            
                        </tr> 
                    </thead> 
                   

                   <tbody> 
                    <?php foreach($info as $row):?>
                        <tr> 
                            <td><?php echo $row['location']?></td>
                            <td><?php echo $row['description']?></td>
                            <td><?php echo $row['request_time']?></td>
                            <td><?php echo $row['status']?></td>
                            <td><?php echo $row['username']?></td>
                            
                            
                        </tr> 
                    <?php endforeach; ?>
                    </tbody> 
                    
                    </table>
                </div><!-- end of #tab1 -->
            </div><!-- end of .tab_container -->
            
                
           
        </article><!-- end of content manager article -->
    </section>
</body>
</html>
