<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" href="<?php echo base_url('application/views/styles/style.css'); ?>" type="text/css"/>
    <script src="<?php echo base_url('application/views/scripts/libs/modernizr/modernizr.js'); ?>" type="text/javascript"></script>
    <script src="<?php echo base_url('application/views/scripts/config.js'); ?>" type="text/javascript"></script>
</head>
<body>
	<section id="main" class="column main_shadow" >
        <article class="module width_3_quarter">
            
            <header><h3 class="tabs_involved">Register</h3>
            <ul class="tabs">
                <li class="active"><a href="#">Password</a></li>
            </ul>
            </header>
            
            <div class="tab_container">
                <div id="tab1" class="tab_content">
                <form method = "post" action="<?php echo site_url('user/PasswordController/changepassword');?>" name='register'>
                    
                <fieldset>
                <table class="tablesorter" cellspacing="0"> 
                <!--<tbody> 
                    <?php foreach($user as $row):?>
                      <tr> 
                            <td><label for="">username:    </label><input type="text" value="<?php echo $row['username']?>" name="username" readonly="true"/></td>
                        </tr> 
                        <tr>
                          <td><label for="">old password:    </label><input type="text" name="password"/></td> 
                        </tr>

                        <tr>
                          <td><label for="">new password:    </label><input type="text" name="new_password"/></td> 
                        </tr>

                        <tr>
                          <td><label for="">confirm password:    </label><input type="text" name="confirm_password"/></td> 
                        </tr>

                        <tr>
                            <td><input type="submit" value="register" class="button darkgray" /></td>
                        </tr>
                    <!--<?php endforeach; ?>
                </tbody> -->




                     

                            <tr>
                          <td><label for="">old password:    </label><input type="text" name="password"/></td> 
                        </tr>

                        <tr>
                          <td><label for="">new password:    </label><input type="text" name="new_password"/></td> 
                        </tr>

                        <tr>
                          <td><label for="">confirm password:    </label><input type="text" name="confirm_password"/></td> 
                        </tr>

                        <tr>
                            <td><input type="submit" value="Submit" class="button darkgray" /></td>
                        </tr>

                </table>
                </fieldset>
       
          <!--<fieldset>
          <label for="txtName">Email address</label>
          <input type="text" id="txtName"/>
        </fieldset>
        <fieldset>
          <label for="txtName">Phone Number</label>
          <input type="text" id="txtName"/>
        </fieldset>
        
        <fieldset>
          <label for="txtAction">Password</label>
          <input type="text" id="txtAction"/>
        </fieldset>
        <fieldset>
          <label for="txtButton">Retype Password</label>
          <input type="text" id="txtButton"/>
        </fieldset>
        <div class="tc mt20">
          <a href="javascript:void(0)" class="button green" id="btnAdd">Update</a>
        </div>
      </div>-->
                    </form>
                <div style="<?php echo $errormessage; ?>"><h4 class="alert_error"><?php echo $message; ?></h4></div>
            <div style="<?php echo $successmessage; ?>"><h4 class="alert_success"><?php echo $message; ?></h4></div>
        </div>
      </div>
        </article><!-- end of content manager article -->
    </section>
</body>
</html>
